/*

!src/
!xmls/
!cicd/
!pom.xml
!README.md
!.gitignore
!jenkins
!.gitlab-ci.yml
!Taskfile.yml
!solid_google_checkstyle.xml
!build.gradle
!gradle.properties
!gradlew
!gradlew.bat
!settings.gradle
!gradle/
!extension/
